.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
}

.App-header > img {
  height: 80px;
}

.App-logo-right {
  float: right;
}

.App-logo-left {
  float: left;
  font-family: paralucent, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 60px;
  color: white;
}
